footer {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    max-width: 70%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 10px auto;
    padding: 0;
    max-width: 50%;
}

ul li:before {
    content: "»";
    color: #006AB9;
    font-size: 24px;
    margin-right: 0.5em;
}